/* 根字体大小 */
html {
    font-size: 10px;
    line-height: 23px;
}

/* 去除根margin和padding */
body, body * {
    margin: 0;
    padding: 0;
}

/* logo */
.logo {
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

/* 导航 */
ul.nav {
    display: block;
    margin: 0;
}

ul.nav li {
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 4px 2px;
    padding: 1px 4px;
    border-radius: 4px;

    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -ms-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}
ul.nav li a {
    color: blue;
}

ul.nav li:hover {
    background-color: #bbbbbb;
}

/* 新闻条目 */
div.new {
    border: 1px solid #D9D9D9;
    margin: 5px 5px 20px 5px;
    background-color: #eeeeee;
    cursor: pointer;
    border-radius: 3px;

    -webkit-transition-duration: 156ms;
    -moz-transition-duration: 156ms;
    -ms-transition-duration: 156ms;
    -o-transition-duration: 156ms;
    transition-duration: 156ms;
}
div.new:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 3px gray;
}

div.new div.new-head {
    border-bottom: 1px solid #D9D9D9;
    padding: 3px 5px;
    font-size: 2rem;
    color: black;
}

div.new div.new-body {
    font-size: 1.6rem;
    text-indent: 3.2rem;
    padding: 3px 5px;
    color: #161616;
}

div.new div.new-foot {
    font-size: 1.5rem;
    color: gray;
    padding: 0 5px;
    border-top: 1px solid #D9D9D9;
}

/* 辅助类 */
.inline-block,
ul.inline-block,
div.inline-block,
p.inline-block,
a.inline-block,
img.inline-block {
    display: inline-block;
!important;
}

a.no-underline{
    text-decoration: none;
}
.max-width850 {
    max-width: 850px;
}

.shadow {
    box-shadow: 0 1px 3px gray;
}

.no-warp {
    white-space: nowrap;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.anim-dur100ms {
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -ms-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}

.margin5px {
    margin: 5px;
}

.anim-dur200ms {
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}

.text-under-line {
    text-decoration: underline;
}

.disable {
    color: #D9D9D9;
    opacity: 0.7;
}